.magazin__text {
  text-align: center;
  margin-top: 59px;
  margin-bottom: 42px;
}
.magazin__text1 {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #000000;
}
.magazin__text2 {
  padding: 0;
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #000000;
}

.vibrali {
  margin-bottom: 58px;
  display: flex;
  padding-top: 10px;
  padding-bottom: 13px;
  padding-left: 24px;
  align-items: center;
  border: 1px solid #dadada;
  box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.1);
}
.magazinsssssssss {
  padding-bottom: 100px;
}
.vibrali__text {
  padding: 0;
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}
.vibrali__mark {
  padding: 0;
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #2eb769;
  background: #fff;
}
.vibrali__button {
  width: 137px;
  padding: 0;
  margin: 0;
  margin-left: 21px;
  display: flex;
  align-items: center;
  background: #ffffff;
  border: 1px solid #41d481;
  border-radius: 100px 5px 5px 100px;
}
.magache {
  padding: 0;
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
.qalem {
  background: #41d481;
  padding-top: 9px;
  padding-left: 9px;
  padding-bottom: 8px;
  padding-right: 8px;
  border-radius: 100%;
}
.qalem__teks {
  padding: 0;
  margin: 0;
  margin-left: 14px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;

  color: #000000;
}
.magazin__container {
  width: 750px;
  margin: 0 auto;
}

.magazin__chenas {
  margin-bottom: 58px;
  display: flex;
  align-items: center;
}
.magazin {
  outline: none;
  border-style: none;
  border-bottom: 1px solid #000;
  padding-bottom: 10px;
}
.select__span-check {
  display: flex;
  align-items: center;
  margin-top: 8px;
}
.mls {
  margin-left: 25px;
}

.selekt {
  margin-top: 10px;
  margin-left: 43px;
  outline: none;
  border-style: none;
  border-bottom: 1px solid #000;
  padding-bottom: 5px;
}
.checkbox {
}
.checkbox__text {
  padding: 0;
  margin-left: 11px;
}
.ml {
  margin-left: 40px;
}

.rospolojeniya {
  align-items: center;
  margin-top: 40px;
  display: flex;
}
.ml1 {
  margin-left: 40px;
}
.mt1 {
  margin-top: 10px;
}
.mb1 {
  margin-bottom: 45px;
}
.etaj {
  display: flex;
  margin-top: 53px;
}
.mt3 {
  margin-bottom: 60px;
}
.mt4 {
  margin-top: 51px;
  margin-bottom: 27px;
}
.yest__area {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 23px;
  color: #000000;
}
.wodth {
  width: 100%;
  margin-top: 130px;
  border-bottom: 1px solid #979797;
  font-size: 20px;
}
.textarea {
  margin: 0;
  padding: 0;
  margin-top: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  mix-blend-mode: normal;
  opacity: 0.55;
}

.selekt__butos1 {
  width: 338px;
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 23px;
  color: #000000;
}
.uzb__span {
  display: flex;
  margin-top: 45px;
}
.domasos {
  padding: 0;
  margin: 0;
  margin-bottom: 13px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
.sosse {
  margin-left: 45px;
}
.selekt__butos {
  margin-left: 0;
  width: 229px;
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 23px;
  color: #000000;
}
.iframes {
  margin-top: 20px;
  margin-bottom: 25px;
}
.tel__magazintext {
  padding: 0;
  margin: 0;
  margin-bottom: 13px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
.tel__magazin {
  width: 309px;
  outline: none;
  border-style: none;
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 23px;
  color: #000000;
  padding-bottom: 7px;
  border-bottom: 1px solid #5e5e5e;
}

.emss {
  margin-top: 31px;
}

.mg__btn {
  width: 384px;
  border-style: none;
  padding-top: 20px;
  padding-bottom: 21px;
  background: #19d476;
  border-radius: 13px;
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 23px;
  color: #000000;
}
.btss__prospotr {
  display: flex;
  align-items: center;
  margin-top: 45px;
}
.редпросмотр {
  padding: 0;
  margin: 0;
  margin-left: 67px;
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 23px;
  color: #4e72ca;
}

element.style {
}
.fileWrapper {
    align-items: flex-end;
    display: flex;
    flex-wrap: wrap;
    gap: 38px;
    row-gap: 38px;
    column-gap: 38px;
    justify-content: space-between;
    width: 688px;
}
.ml5 {
margin-left: 48px;
}
.mt5 {
  margin-top: 23px;
}
.file__input {
  width: 100%;
  margin-top: 15px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.file__logot {
  padding: 36px;
  padding-bottom: 39px;
  padding-right: 31px;
  padding-left: 36px;
  background: rgba(180, 226, 225, 0.350232);
border: 1px solid #50E3C2;
border-radius: 9px;
}
.files__in {    appearance: none;
  background-color: initial;
  cursor: default;
  align-items: baseline;
  color: inherit;
  text-overflow: ellipsis;
  white-space: pre;
  text-align: start !important;
  padding: initial;
  border: initial;
  overflow: hidden !important;
}