.containers {
    width: 1140px;
    margin: 0 auto;

  }
  .hero {
    padding-top: 39px;
    padding-bottom: 31px;
    display: flex;
    align-items: center;
  }
  .hero__content {
    display: flex;
    justify-content: space-between;
    text-align: center;
  }
  .span__hero  {
}
.svg1 {
    margin: 0;
    padding: 0;
    background: #B6CAFB;
    border-radius: 20px;
    padding-top: 11px;
    padding-right: 10px;
    padding-bottom: 12px;
    padding-left: 13px;
    
  }
.hero__text {
    padding: 0;
    margin: 0;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    margin-top: 3px;
    color: #4A4A4A
}

.uy {
background-color: #B4E2E1;
}
.not {
    background-color: #FF9E83;
}
.pops {
    background-color: #F7E233;
}
.pad {
    background-color: #F6DAC2;
}
.tog {
    background-color: #B4E2E1;
}
.str {
    background-color: #B6CAFB;
}
.hob {
    background-color: #F6DAC2;

}
.boy {
    background-color: #FF9E83;

}

.strr {
    
}
.Strl {
margin-left: 30px;
}